---
import MainLayout from '@/layouts/MainLayout';
---

<MainLayout>
    <h1 class="mb-6 title">Cyberpunk life in the 21st century.</h1>
    <p>My site for posts, projects, and life.</p>
</MainLayout>
